<div class="row">
  <div class="col-md-4 box" id="form-div"><app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form></div>
  <div class="col-md-8" id="quote-div">
    <div class="card w-75" *ngFor="let quote of quotes;let i = index" >
      <div class="card-body">
        <div (click)='toggleDetails(i)'>
        <h5 class="card-title">{{quote.author}}</h5>
        <p class="card-text">
          {{quote.content}}<br>
          <small>click to see details</small>
        </p>
        <div class="alert alert-success" role="alert" *ngIf='quote.vote == maxVotes'>
          Ranked with the highest votes
        </div>
      </div>
        <button type="button" class="btn btn-success" (click)='upVote(i)'>Upvote</button>
        <button type="button" class="btn btn-warning" (click)='downVote(i)'>DownVote</button>
        <button class="btn btn-danger float-right" (click)= 'quoteDelete(i)'>Delete</button>
      </div>
      <app-quote-actions *ngIf='quote.showDetails' [quote]='quote'></app-quote-actions>
    </div>
  </div>
</div>
